@charset "utf-8";
/* CSS Document */

a
{
	font-size:14px;
	font-weight:bold;
}
a:link
{
	color:#0FF;
	text-decoration:none;
}
a:visited
{
	color:#00F;
	text-decoration:none;
}
a:hover
{
	color:#F00;
	font-size:18px;
	text-decoration:underline;
}
a:active
{
	color:#FF0;
	font-size:24px;
	text-decoration:underline;
}

